<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consular</title>
    <link href= "css/consultamasco.css" rel="stylesheet" type="text/css">
</head>
<body>
    <section class="container">
		<div class="contact-box">
			<form class="right" action="/frmconsultadatmasco" method="POST">
				<h1 class="container-h1"></h1>
                <h3 class="container-h3">Ingresa la siguiente informacion para consultar los datos de tu mascota</h3>

				<input type="text" class="field" name="numeroidentidad" placeholder="Numero identidad del dueño registrado">
				<button type="submit" class="btn">Consultar</button>
            </form>
		</div>
    </section>

    <from action="" name="frm" id="frm" class="tabla">
        <section class="scroll">

            <table class="tablecentrar">
            
                <% tbdueño.forEach(function (tbdueño){ %> 
                <tr>
                    <th colspan="2">Datos personales del dueño</th>
                  </tr>
                
                  <tr>
                    <th>Documento</th>
                    <td><input type="text" value="<%=tbdueño.DueDoc%>" name="ra" id="ra" class="ra" readonly></td>  
                  </tr>
                
                  <tr> 
                    <th>Nombre</th>
                    <td><input type="text" value="<%=tbdueño.DueNombre%>" name="ra" id="ra" class="ra" readonly></td>   
                  </tr>
                
                  <tr>
                    <th>Apellido</th>
                    <td><input type="text" value="<%=tbdueño.DueApellido%>" name="ra" id="ra" class="ra" readonly></td> 
                  </tr>
    
                  <tr>
                    <th>Correo</th>
                    <td><input type="text" value="<%=tbdueño.DueCorreo%>" name="ra" id="ra" class="ra" readonly></td> 
                  </tr>
    
                  <tr>
                    <th>Telefono</th>
                    <td><input type="text" value="<%=tbdueño.DueriTelefo%>" name="ra" id="ra" class="ra" readonly></td> 
                  </tr>
                  <%})%>
            </table>

        <table class="table">
            <% datos.forEach(function (datos){ %> 
            <thead>
                <tr>
                    <th>ID MASCOTA</th>
                    <th>NOMBRE MASCOTA</th>
                    <th>RAZA</th>
                    <th>PESO</th>
                </tr>
            </thead>
    
            <tbody>
                
                <tr>
                    <td><input type="text" value="<%=datos.MascoId%>" name="id" id="id" class="id" readonly></td>
                    <input type="hidden" value="<%=datos.MascoDocDue%>" name="doc" id="doc" class="doc">
                    <td><input type="text" value="<%=datos.MascoNombre%>" name="nom" id="nom" class="nom" readonly></td>                
                    <input type="hidden" value="<%=datos.MascoClase%>" name="cla" id="cla" class="cla">  
                    <td><input type="text" value="<%=datos.MascoRaza%>" name="ra" id="ra" class="ra" readonly></td> 
                    <td><input type="text" value="<%=datos.MascoPeso%>" name="pe" id="pe" class="pe" readonly></td>                               
                </tr>
                
            </tbody>
            <%})%>
        </table>

       
    </section>
    </from>

    <section class="contenedorboton">
        <a href="/agendarcitas"><button class="botoncont">Da click aqui para volver a agendar tu cita</button></a>
    </section>
   

     

</body>
</html>