<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/actualizarpro.js"></script>
    <link href="css/administrador.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <title>Usuario</title>
</head>
<body>

    <section class="centrar-imagen">
        <img src="ima/logo.PNG" class="logo-menu">
    </section>
    <header class="Tituloosm">   
        <section class="barra">
            <h2>Menu<img src="ima/lista_icono2.png" alt=""></h2>
            <ul>
                <li><a href="/pedido">Pedido</a></li>
                <li><a href="/proveedor">Proveedor</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/usuarios">Usuarios</a></li>
                <li><a href="/categoria">Categoria</a></li>
                <li><a href="/cita">Cita</a></li>
                <li><a href="/detallecita">Detalle cita</a></li>
                <li><a href="/detallepedido">Detalle pedido</a></li>
                <li><a href="/dueno">Dueño</a></li>
                <li><a href="/insumos">Insumos</a></li>
                <li><a href="/mascota">Mascota</a></li>
                <li><a href="/producto">Producto</a></li>
                <li><a href="/ventas">Ventas</a></li>
                <li><a href="/veterinario">Veterinario</a></li>
            </ul>
           
        </section> 
    </header>
    <nav class="menu">
        <a href="cerrar">Cerrar sesion</a>
    </nav>
    <div class="login-box">
        <h1>Productos</h1>
        <form action="/frminsertarproducto" method="POST"  enctype="multipart/form-data">
          <!--  INPUT -->
          <input type="text" name="ProduId"       class="" placeholder="Id producto">
          <input type="text" name="ProduIdCate"    class="" placeholder="Id categoria">
          <input type="text" name="ProduNombre"    class="" placeholder="Nombre producto">
          <input type="text" name="ProduPrecio"    class="" placeholder="Precio producto">
          <input type="text" name="ProduUniDisponibles"    class="" placeholder="Unidades disponibles">
          <label class="tit">Imagen del producto :</label>
          <input type="file" name="ProduImagen" id="" placeholder="Imagen">
          <!--  BUTTON -->
          <button type="submit">Insertar</button>
        </form>
      </div>


      <from action="" name="frm" id="frm" class="tabla">
        <section class="scroll">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ID CATEGORIA</th>
                    <th>MARCA</th>
                    <th>PRECIO</th>
                    <th>UNI DISPONIBES</th>
                    <th>IMAGEN</th>
                    <th>ACTUALIZAR</th>
                </tr>
            </thead>
    
            <tbody>
             <% datos.forEach(function (datos){ %>    
                <tr>
                    <td><input type="text" value="<%=datos.ProduId%>" name="idd" id="idd" class="idd"></td>
                    <td><input type="text" value="<%=datos.ProduIdCate%>" name="ca" id="ca" class="ca"></td>
                    <td><input type="text" value="<%=datos.ProduNombre%>" name="ma" id="ma" class="ma"></td>                
                    <td><input type="text" value="<%=datos.ProduPrecio%>" name="pr" id="pr" class="pr"></td> 
                    <td><input type="text" value="<%=datos.ProduUniDisponibles%>" name="di" id="di" class="di"></td> 
                    <td><img src="<%=datos.ProduImagen%>" alt="" id="imgen" ><!--<input type="file" class="im" id="im">--></td>
                    <td><input type="submit" value="Actualizar" name="btnact" id="btnact" class="btnact"></td>                               
                </tr>
             <%})%>
            </tbody>
        </table>
    </section>
    </from>

</body>
</html>